Q1

MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables. 

The non-relational database, or NoSQL database, stores data. However, unlike the relational database, there are no tables, rows, primary keys or foreign keys.  Instead, the non-relational database uses a storage model optimized for specific requirements of the type of data being stored.

As a document database, MongoDB makes it easy for developers to store structured or unstructured data. It uses a JSON-like format to store documents. This format directly maps to native objects in most modern programming languages, making it a natural choice for developers, as they donâ€™t need to think about normalizing data. MongoDB can also handle high volume and can scale both vertically or horizontally to accommodate large data loads.

Q2

1. Support ad hoc queries

In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing

You can index any field in a document.

3. Replication

MongoDB supports Master Slave replication.

A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

Q3

In [9]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://harshshivani26:harsh7025@cluster0.rru9hev.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db=client["new_database"]
coll_create=db["record"]

Q4

In [10]:
data={"name":"John", "age":30, "car":0}
#for insert one record
coll_create.insert_one(data)

In [11]:
data2=[
  { "firstName":"John", "lastName":"Doe" },
  { "firstName":"Anna", "lastName":"Smith" },
  { "firstName":"Peter", "lastName":"Jones" }
]
#for inserting many record
coll_create.insert_many(data2)

In [12]:
#for find record
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f09938f53b129224f228d1'), 'name': 'John', 'age': 30, 'car': 0}
{'_id': ObjectId('63f099e9f53b129224f228d2'), 'firstName': 'John', 'lastName': 'Doe'}
{'_id': ObjectId('63f099e9f53b129224f228d3'), 'firstName': 'Anna', 'lastName': 'Smith'}
{'_id': ObjectId('63f099e9f53b129224f228d4'), 'firstName': 'Peter', 'lastName': 'Jones'}

In [13]:
#for find one
coll_create.find_one()

{'_id': ObjectId('63f09938f53b129224f228d1'),
 'name': 'John',
 'age': 30,
 'car': 0}

Q5

In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. It is also used to return all events to the selected data.

In [14]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f09938f53b129224f228d1'), 'name': 'John', 'age': 30, 'car': 0}
{'_id': ObjectId('63f099e9f53b129224f228d2'), 'firstName': 'John', 'lastName': 'Doe'}
{'_id': ObjectId('63f099e9f53b129224f228d3'), 'firstName': 'Anna', 'lastName': 'Smith'}
{'_id': ObjectId('63f099e9f53b129224f228d4'), 'firstName': 'Peter', 'lastName': 'Jones'}

Q6

Use the sort() method to sort the result in ascending or descending order.
The sort() method takes one parameter for "fieldname" and one parameter for "direction"

In [20]:
#ascending sort
for i in coll_create.find().sort('firstName'):
    print(i)

{'_id': ObjectId('63f09938f53b129224f228d1'), 'name': 'John', 'age': 30, 'car': 0}
{'_id': ObjectId('63f099e9f53b129224f228d3'), 'firstName': 'Anna', 'lastName': 'Smith'}
{'_id': ObjectId('63f099e9f53b129224f228d2'), 'firstName': 'John', 'lastName': 'Doe'}
{'_id': ObjectId('63f099e9f53b129224f228d4'), 'firstName': 'Peter', 'lastName': 'Jones'}

In [21]:
#descending sort
for i in coll_create.find().sort('firstName',-1):
    print(i)

{'_id': ObjectId('63f099e9f53b129224f228d4'), 'firstName': 'Peter', 'lastName': 'Jones'}
{'_id': ObjectId('63f099e9f53b129224f228d2'), 'firstName': 'John', 'lastName': 'Doe'}
{'_id': ObjectId('63f099e9f53b129224f228d3'), 'firstName': 'Anna', 'lastName': 'Smith'}
{'_id': ObjectId('63f09938f53b129224f228d1'), 'name': 'John', 'age': 30, 'car': 0}

Q7

To delete one document, we use the delete_one() method.

In [24]:
data=data={"name":"John", "age":30, "car":0}
coll_create.delete_one(data)

To delete more than one document, use the delete_many() method.

To remove the complete collection in database drop() method is used.

In [ ]:
coll_create.drop()